<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button (click)='setAlarm()'>Set</ion-button>

    <ion-button expand="block" (click)='scheduleNotification()'>schedule</ion-button>
    <ion-button expand="block" (click)='recurringNotificaion()'>Every min</ion-button>
    <ion-button expand="block" (click)='repeatingDaily()'>daily</ion-button>
    <ion-button expand="block" (click)='getAll()'>get all</ion-button>
  </div>
</ion-content>
